<div class="container">

    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
    <h1 class="m-5">Il faudrait ajouter un texte pour parler du project et une histoire sur l'équipe à en jouer du violon </h1>
<!-- TEAM -->
    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
    <section class="testimonials text-center">
        <h2 class="mb-5">Qui ce cache derrière</h2>
        <div class="d-flex justify-content-center flex-wrap">
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_flo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Flo</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p> Flo - <%= Time.now.year - 10%>ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Il est le fils spirituel de Gary McKinnon !"</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_hary.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Hary</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Marseille - <%= Time.now.year - 1986 %>ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Le cerveau de l'ombre à l'origine du projet."</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_kevin.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Kevin</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Tours - <%= Time.now.year - 1990 %>ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_jo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Joffrey</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Poitiers - <%= Time.now.year - 1993 %>ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Un foutu opportuniste qui espère touché le pactole lors du rachat par Google ou Meta!"</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_lucas.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Lucas</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Montpellier - <%= Time.now.year - 1993 %>ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>   
    </section>

    <!-- CONTACT-->
    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
    <div class="d-flex justify-content-center">
        <div id="form_contact_custom">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-6">
                    <h2>Contact</h2>
                    <p>Vous voulez entrer en contact ? Remplissez le formulaire ci-dessous pour m'envoyer un message et je vous répondrai dans les plus brefs délais !</p>
                    <div class="my-5">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating mt-2">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no">
                                <label for="name">Name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-floating mt-2">
                                <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" data-sb-can-submit="no">
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-floating mt-2">
                                <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required" data-sb-can-submit="no"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <br>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br>
                                    <a href="https://startbootstrap.com/solution/contact-forms"></a>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <button class="btn btn-secondary text-uppercase disabled" id="submitButton" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

