<div class="container">

    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
    <h1 class="m-5">Il faudrait ajouter un texte pour parler du project et une histoire sur l'équipe à en jouer du violon </h1>
<!-- TEAM -->
    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
    <section class="testimonials text-center">
        <h2 class="mb-5">Qui ce cache derrière</h2>
        <div class="d-flex justify-content-center flex-wrap">
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_flo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Flo</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p> Flo - <%= Time.now.year - 10%> ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Il est le fils spirituel de Gary McKinnon !"</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_hary.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Hary</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Marseille - <%= Time.now.year - 1986 %> ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Le cerveau de l'ombre à l'origine du projet."</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_kevin.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Kevin</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Tours - <%= Time.now.year - 1990 %> ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"N'est pas grand chose sans Florent."</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_jo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Joffrey</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Poitiers - <%= Time.now.year - 1993 %> ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Un foutu opportuniste qui espère touché le pactole lors du rachat par Google ou Meta!"</p>
                </div>
            </div>
            
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_lucas.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Lucas</h5>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p>Montpellier - <%= Time.now.year - 1993 %> ans</p>
                    <div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
                    <p class=" mb-0">"Un demi-dieu de la manipulation des images"</p>
                </div>
            </div>
        </div>   
    </section>

    <!-- CONTACT-->
     <div id="contact">
    <%= render 'contact_form' %>
  </div>

