<%= form_for([project, feat], method: :patch, class: "w-100") do |f| %>   

<div class="form-floating mt-2 ">
  <div class="field mb-2 ">
    <%= f.label 'Titre' %><br />
    <%= f.text_field :title, required: true, id:"text_input_for_project" %><br />
  </div>
</div>

<div class="form-floating mt-3">
  <div class="field mb-2"><br />
    <%= f.label "Fichiers Joints", class:"mb-2" %><br />
    <%= f.file_field :attachements, multiple: true %><br />
  </div>
</div>

<div class="form-floating mt-2">
  <div class="field mb-2"><br />
    <%= f.submit "modifier", class:"btn btn-secondary px-4"%><br />
  </div>
</div>

<% end %>