<% if @feat.errors.any? %>
<%= render "shared/error_messages", object: @feat %>
<% end %>

<div class="d-flex flex-column justify-content-center align-items-center text-center col-12">
  <div class="col-lg-6">
    <h1>Modifie ton feat</h1>
    <%= render 'form', feat: @feat, project: @feat.project %>

    <h3>Fichiers liés à ton feat</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 m-3">
      <% @feat.attachements.each do |attachement| %>
      <% unless attachement.id == nil %>
      <div class="d-flex flex-column align-item-center">

        <div class="card bg-primary text-center">
          <%= image_tag attachement, class:"mt-2"%>
          <%= attachement.filename %>
          <%= link_to "Supprimer", attachement_path(attachement), data: { method: :delete, confirm: "Est tu sûr de vouloir supprimer ce fichier ?" }, class: "btn btn-danger my-2" %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
