<div class="container">
  <h2>Feats du projet <%= @project.title %></h2>
  <%= link_to 'Retour', edit_admin_project_path(@project), class: 'btn btn-info btn-sm' %>

  <% @feats.each do |feat| %>
  
  <div class="card col-lg-6 mx-auto my-2">
    <div class="card-body">
      <div class="text-muted">
        <%= "ID : #{feat.id}" %><br />
        <%= "Crée le #{feat.created_at.strftime('%e %b %Y à %H:%M:%S')}" %><br />
        <%= "Dernière modification le #{feat.updated_at.strftime('%e %b %Y à %H:%M:%S')}" %><br />
        <%= link_to "Créateur : #{feat.user.user_name}", edit_admin_user_path(feat.user), class: "text-muted" %>
      </div>
      <%= form_for ([:admin, @project, feat]) do |f| %>
      <%= label_tag 'Titre' %><br />
      <%= f.text_field :title %><br />
      <%= label_tag 'Description' %><br />
      <%= f.text_area :description, rows: "10", cols: "30" %><br />
      <button type="submit" class="btn btn-primary mt-3">Modifier</button>
      <% end %>
      <%= link_to "Supprimer", admin_project_feat_path(@project, feat), data: { method: :delete, confirm: "Est tu sûr de vouloir supprimer ce Feat ?" }, class: "btn btn-danger my-2" %>
    </div>
    <div class="card-footer">
      <h2>Fichiers joints au projet</h2>
      <% feat.attachments.each do |attachment| %>
      <%= image_tag attachment, class: "card-img-top" %>
      <%= attachment.filename %>
      <%= link_to "Supprimer", attachment_path(attachment), data: { method: :delete, confirm: "Est tu sûr de vouloir supprimer ce fichier ?" }, class: "btn btn-danger my-2" %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>