<div class="d-flex justify-content-center align-items-center text-center col-12">
  <main class="form-signin">
    <h2> <%= current_user.user_name %> </h2>
    <%= form_with(model: @user, local: true, html: {class: "w-100"}) do |f| %> 
    <% if @user.avatar.attached? %>
    <div class= "field">
        <%= image_tag @user.avatar.variant(resize: "200x200"), class: "rounded-circle" %>
    </div>
    <% end %>
    <div class= "field">
        <%= f.label :Avatar %><br />
        <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar"  %>
    </div>
    <div class="field">
        <%= f.label :Pseudo %><br />
        <%= f.text_field  :user_name, autofocus: true, autocomplete: "pseudo" %>
    </div>       
    <div class="field">
        <%= f.label :réseau_social %><br />
        <%= f.text_field :social_link, autofocus: true, autocomplete: "social_link" %>
    </div>     
    <div class="actions">
         <%= f.submit "Modifier", class:" btn  btn-outline-secondary m-2" %> 
         <% if @user.avatar.attached? %>
         <%= link_to "Supprimer Avatar", user_path, data: { method: :delete}, class: "btn btn-outline-danger m-2" %>  
         <% end %>     
         <%= link_to "Accueil", projects_path, class:" btn  btn-outline-info m-2"  %>
    </div> 
    <% end %>
    <div class="form-floating">
    </div>
    <p><%= link_to 'Modifier mes identifiants de connexion', edit_user_registration_path(@user) %></p>   
  </main>
</div>
