<div class="d-flex flex-column justify-content-center align-items-center text-center col-12" style="height:70vh;">   

  <h2>Modifier son mot de passe</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :Mot_de_passe, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Changer de mot de passe" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

