<%= form_with(model: project, local: true, html: {class: "w-100"}) do |f| %>

<div class="form-floating mt-2 ">
  <div class="field mb-2 ">
    <%= f.label 'Titre' %><br />
    <%= f.text_field :title, required: true, id:"text_input_for_project" %><br />
  </div>
</div>

<div class="form-floating mt-2 ">
  <div class="field mb-2 ">
    <%= f.label 'Description' %><br />
    <%= f.text_area :description, required: true, id:"text_input_for_project" %><br />
  </div>
</div>

<div class="form-floating mt-3">
  <div class="field mb-2"><br />
    <%= f.label "Image d'illustration de votre projet", class:"mb-2" %><br />
    <%= f.file_field :picture %><br />
  </div>
</div>

<div class="my-3 text-center" >
  <%= f.label "Quelles compétences cherchez-vous ?", class: "mb-2" %><br />
  <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
  <%= b.label(:"data-value" => b.value, class: "m-1") { b.check_box + " " + b.text } %>
  <% end %>
</div>

<div class="form-floating mt-3">
  <div class="field mb-2"><br />
    <%= f.label "Fichiers Joints", class:"mb-2" %><br />
    <%= f.file_field :attachements, multiple: true %><br />
  </div>
</div>

<div class="form-floating mt-2">
  <div class="field mb-2"><br />
    <%= f.submit "Envoyer", class:"btn btn-secondary px-4"%><br />
  </div>
</div>

<% end %>


