<%= render "layouts/carousel"%>

<% if user_signed_in? %>

<div class="container">
    <% @projects.each do |project| %>
    <div class="col-12 d-flex one-card-custom">
        <% if project.picture.attached? %>
        <%= image_tag project.picture,alt:"#{project.title}", class:"col-lg-3 col-md-12 m-2", style:"height:300px;border-radius:30px;" %>
        <% else %>
        <%= image_tag 'default.jpg',alt:"#{project.title}", class:"col-lg-3 col-md-12 m-2", style:"height:300px;border-radius:30px;"%>
        <% end %>
        
        <div class="card w-75 mx-1 my-2 bg-primary border-success">
            <div class="card-header bg-primary border-success d-flex justify-content-between align-items-center">
                <h5><%= project.title %></h5>
                <p class="text-muted"><em>Publié le <%= project.created_at.strftime('%e %b %Y')%></em></p>
            </div>
            <div class="card-body bg-primary d-flex flex-column justify-content-around">
                <p class="text-truncate card-text"><%= project.description %></p>

                <div class="d-flex justify-content-around">
                    <% if project.feats.count < 1 %>
                    <p><em>Pas de feats sur ce projet</em></p>
                    <% elsif project.feats.count == 1 %>
                    <p><em>1 feat sur ce projet</em></p>
                    <% else %>
                    <em><%= project.feats.count%> feats sur ce projet</em></p>
                    <% end %>
                    <a href="<%= project_path(project.id)%>" class="btn btn-<%= current_user_has_liked?(project) ? "warning" : "primary" %> primary">
                        <i class="far fa-star"></i>
                        x<%= project.likes.count %>
                    </a>
                    <%= link_to "détail du projet", project_path(project.id), class:"btn btn-secondary" %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
    <% else %>

<!-- Presentation -->
<div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="d-flex img_for_presente">
            <%= image_tag 'instruments.png',alt:"", class:"col-lg-6 order-lg-2 text-white showcase-img", width: "50%"%>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Première plateforme d'entraide créative</h2>
                <p class="lead mb-0">Match & Feat est un lieu de rencontre artistique pour collaboration musicale, poster votre projet inachevé afin de laisser la créativité d'un tier s'exprimer</p>
            </div>
        </div>
        <div class="d-flex img_for_presente">
            <%= image_tag 'micro.png',alt:"", class:"col-lg-6 text-white showcase-img", width: "50%"%>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Mettre en lumière votre projet</h2>
                <p class="lead mb-0">Ne laisser pas dormir vos projets inachever, donner lui une visibilité aux yeux et aux oreilles de tous pour donner l'occasion a d'autres de combler le manque</p>
            </div>
        </div>
        <div class="d-flex img_for_presente">
            <%= image_tag 'neon.png',alt:"", class:"col-lg-6 order-lg-2 text-white showcase-img", width: "50%"%>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Mettre en lumière votre talent</h2>
                <p class="lead mb-0">De nombreux talents en tous genres sont disponibles pour collaborer et apporter leur idées artistiques </p>
            </div>
        </div>
    </div>
</section>

<!-- CALL TO ACTION -->
<div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
<div class="d-flex flex-column align-items-center">
  <h3><%= link_to "S'inscrire", new_user_registration_path, class: "nav-link " %></h3>
  <p>N'attendez plus et rejoignez la communauté !!</p>
</div>

<!-- TEAM -->
<div style="border-top: 1px solid #ecc93c;margin: 20px 0;"></div>
<section class="testimonials text-center">
    <div class="container">
        <h2 class="mb-5">Qui ce cache derrière</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_flo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Flo</h5>
                    <p class=" mb-0">"Il est le fils spirituel de Gary McKinnon !"</p>
                </div>
            </div>
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_hary.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Hary</h5>
                    <p class=" mb-0">"Le cerveau de l'ombre à l'origine du projet."</p>
                </div>
            </div>
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_kevin.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Kevin</h5>
                    <p class=" mb-0">"N'est pas grand chose sans Florent!"</p>
                </div>
            </div>
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_jo.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Joffrey</h5>
                    <p class=" mb-0">"Un foutu opportuniste qui espère touché le pactole lors du rachat par Google ou Meta!"</p>
                </div>
            </div>
            <div class="col-lg-2 m-2">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag 'team_lucas.jpg',alt:"", class:"img-fluid rounded-circle mb-3" %>
                    <h5>Lucas</h5>
                    <p class=" mb-0">"Un demi-dieu de la manipulation des images"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% end %>
