<div class="d-flex flex-column justify-content-center align-items-center text-center col-12" style="height:70vh;">   
  <h2>Se connecter</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mt-2">
    <div class="field">
      <%= f.label :Email %><br />
      <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-floating mt-2">
    <div class="field">
      <%= f.label :Mot_de_passe %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-floating mt-2">
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :Se_souvenir_de_moi %>
          </div>
      </div>
    <% end %>

    <div class="actions m-2">
      <%= f.submit "Se connecter", class:"btn btn-secondary" %>
    </div>
  <% end %>

  <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-info" %>
</div>
