<h2>Utilisateurs en base de donnée</h2>
<%= link_to 'Accueil Admin', admin_root_path, class: 'btn btn-info mb-1' %>

<table class="table table-hover table-sm bg-white">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Pseudo</th>
      <th scope="col">Inscrit le</th>
      <th scope="col">Projets</th>
      <th scope="col">Feats</th>
      <th scope="col">Likes</th>
      <th scope="col">Admin ?</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
      <th><%= user.id %></th>
      <th><%= user.email %></th>
      <th><%= user.user_name %></th>
      <th><%= user.created_at.strftime('%e %b %Y') %></th>
      <th><%= user.projects.count %></th>
      <th><%= user.feats.count %></th>
      <th><%= user.likes.count %></th>
      <th><%= "OUI" if user.status == "admin" %></th>
      <th><%= link_to 'Afficher/Editer', edit_admin_user_path(user), class: 'btn btn-secondary btn-sm' %></th>
      <th><%= link_to 'Supprimer', admin_user_path(user), data: { method: :delete, confirm: "Êtes vous sûr de vouloir supprimer cet utilisateur ?" }, class: 'btn btn-danger btn-sm'%></th>
    </tr>
    <% end %>
  </tbody>
</table>