
<footer class="footer bg-dark">
        <% if user_signed_in? %>
                <%= link_to "Créer une projet", new_project_path, class: "nav-link" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Modifier mon profil", edit_user_registration_path, class: "nav-link "%>
                <div class="dropdown-divider"></div>
                <%= link_to "Se déconnecter", destroy_user_session_path ,method: "delete", class: "nav-link "%>
        <% else %>
                <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link " %>
                <div class="dropdown-divider"></div>
                <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
                <div class="dropdown-divider"></div>
        <% end %>
</footer>
